$iris: #6865aa;
$pupila: #1e1e1e;
$background: #cbc0d3;
$eye-size: 10rem;
$size: 50px;
$time-flicker: 3s;
$eye-movement: 10s;

#app {
  background-color: $background;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.eye div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.eyelid {
  background-color: $background;
  width: $eye-size + 5;
  height: $eye-size / 3;
  animation-name: close-eye;
  animation-duration: $time-flicker;
  animation-iteration-count: infinite;
  z-index: 999;
}

.top-eyelid {
  transform: translateY(150%);
}

.bottom-eyelid {
  transform: translateY(-150%);
}

.eye {
  background-color: white;
  width: $eye-size;
  height: $eye-size;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: $eye-size * 2;
  border-bottom-right-radius: $eye-size * 2;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.iris {
  background-color: $iris;
  width: $eye-size - 2;
  height: $eye-size - 2;
  animation-name: move-eye;
  animation-duration: $eye-movement;
  animation-iteration-count: infinite;
}

.pupila {
  background-color: black;
  width: $eye-size / 3;
  height: $eye-size / 3;
}

@keyframes close-eye {
  50% {
    transform: translateY(0%);
  }
}

@keyframes move-eye {
  30% {
    background-color: #f72585;
    transform: translateY(40%);
  }
  40% {
    background-color: #7209b7;
  }
  50% {
    background-color: #3f37c9;
    transform: translateX(40%);
  }
  90% {
    background-color: #4cc9f0;
  }
}
